<ion-view view-title="{{store.restaurantName}}">
    <ion-content class="menuDetail">
        <div class="row store-title">
            <div class="col-20">
                <img src="data:image/{{store.logoExtension}};base64,{{store.logoBase64}}"  height="50px" width="50px" />
            </div>
            <div class="col-80">
                <h4>{{store.restaurantName}}</h4>
            </div>
        </div>
        <div ng-show="store.tagsString.length" class="row divider">
            <div class="col col-center">
                MENU
            </div>
        </div>
        <div ng-show="store.tagsString.length" class="row description">
            <div class="col">
                {{store.tagsString}}
            </div>
        </div>
        <div ng-show="store.streets.length" class="row divider">
            <div class="col col-center">
                DIRECCI&Oacute;N
            </div>
        </div>
        <div ng-show="store.streets.length" class="row description">
            <div class="col">
                {{store.streets}}
            </div>
        </div>
        <div ng-show="store.streets.length" class="row divider">
            <div class="col col-center">
                SITIO WEB
            </div>
        </div>
        <div ng-show="store.restaurantUrl.length" class="row description">
            <div class="col">
                <a href="" ng-click="openLink(store.restaurantUrl)">{{store.restaurantUrl}}</a>
            </div>
        </div>
        <div ng-show="store.restaurantDescription.length" class="row divider">
            <div class="col col-center">
                DESCRIPCI&Oacute;N
            </div>
        </div>
        <div ng-show="store.restaurantDescription.length" class="row description">
            <div class="col">
                {{store.restaurantDescription}}
            </div>
        </div>
        <div class="row" style="height: 250px">

        </div>
    </ion-content>
    <ion-footer-bar class="action-buttons-footer">
        <div class="row action-buttons">
            <div class="col">
                <a href="tel:{{store.phone}}" class="fab red">
                    <core-icon icon="" role="img">
                        <i class="icon ion-android-call"></i>
                    </core-icon>
                </a>
            </div>
            <div class="col">
                <a href="#/tab/storeMap/{{store.latitude}}/{{store.longitude}}" class="fab red">
                    <core-icon icon="" role="img">
                        <i class="icon ion-location"></i>
                    </core-icon>
                </a>
            </div>
            <!--<div class="col">-->
                <!--<div class="fab red">-->
                    <!--<core-icon icon="" role="img">-->
                        <!--<i class="icon ion-chatbox-working"></i>-->
                    <!--</core-icon>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </ion-footer-bar>
</ion-view>
