<ion-view title="Locales">
    <ion-nav-buttons side="secondary">
        <div class="row secondary-action">
            <div class="col col-center">
                <a href="#/tab/stores/restaurants">Ver todos</a>
            </div>
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header" has-bouncing="true" ng-hide="geolocError">
        <ion-refresher
                pulling-text="Desliza hacia abajo para refrescar.."
                on-refresh="refreshStores()">
        </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item collection-repeat="store in stores" class="item item-text-wrap item-avatar store-list" href="#/tab/store/{{store.id}}/{{store.distanceTo}}"
                      item-height="90px">
                <img src="data:image/{{store.logoExtension}};base64,{{store.logoBase64}}" />
                <div class="row">
                    <div class="col col-75 restaurant-name">
                        {{store.restaurantName}}
                    </div>
                    <div class="col col-25 align-right">
                        <p ng-show="store.distance>=0">
                            {{store.distance | distance}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-90">
                        <p>
                            {{store.tagsString}}
                        </p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div class="row" ng-if="geolocError">
            <div class="col">
                No se ha podido encontrar tu ubicaci&oacute;n. ({{gpsError}})
            </div>
        </div>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>





        <!--<a class="item item-avatar" href="#/tab/store/{{store.id}}/{{store.distanceTo}}" ng-repeat="store in stores">-->
            <!--<img  src="img/{{store.icon}}.png">-->
            <!--<h2>{{store.name}}</h2>-->
            <!--<h4>Platos diarios, tartas, empanadas</h4>-->
            <!--<h4 ng-if="!store.distanceTo">&nbsp;</h4>-->
            <!--<h4 ng-if="store.distanceTo">{{store.distanceTo | distance}}</h4>-->
        <!--</a>-->
    </ion-content>
</ion-view>
