<ion-view view-title="{{store.name}}">
    <ion-content class="menuDetail">
        <div class="row store-title">
            <div class="col-20">
                <img src="data:image/{{store.logoExtension}};base64,{{store.logoBase64}}"  height="50px" width="50px" />
            </div>
            <div class="col-80">
                <h4>{{store.name}}</h4>
                <h5 style="font-size:10px">{{store.url}}</h5>
                <h5 style="font-size:10px">{{store.email}}</h5>
            </div>
        </div>
        <div ng-show="store.tagsString.length" class="row divider">
            <div class="col col-center">
                MENU
            </div>
        </div>
        <div ng-show="store.tagsString.length" class="row description">
            <div class="col">
                {{store.tagsString}}
            </div>
        </div>
        <div class="row divider">
            <div class="col col-center">
                LOCALES
            </div>
        </div>
        <div ng-repeat="location in store.locations">
            <div class="row description">
                <div class="col">
                    {{location.streets}}
                </div>
            </div>
        </div>
        <div ng-if="store.menu.length" class="row divider">
            <div class="col col-center">
                MEN&Uacute;
            </div>
        </div>
        <div ng-if="store.menu.length" class="row description">
            <div class="col">
                {{store.menu}}
            </div>
        </div>
        <div class="row" style="height: 250px">

        </div>
    </ion-content>
    <ion-footer-bar class="action-buttons-footer">
        <div class="row action-buttons">
            <div class="col">
                <div class="fab red">
                    <core-icon icon="" role="img">
                        <i class="icon ion-android-call"></i>
                    </core-icon>
                </div>
            </div>
            <div class="col">
                <div class="fab red">
                    <core-icon icon="" role="img">
                        <i class="icon ion-location"></i>
                    </core-icon>
                </div>
            </div>
            <div class="col">
                <div class="fab red">
                    <core-icon icon="" role="img">
                        <i class="icon ion-chatbox-working"></i>
                    </core-icon>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
