<ion-popover-view>
    <ion-content class="popoverContent">
        <ul class="list">
            <li class="item item-divider">Tipo de comida</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>saludable</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>vegetariano</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>apto para celiacos</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>sin sal</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>asesino</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>fresco</li>
            <li class="item item-divider">Locales</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>Fans</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>Toc&aacute; y pic&aacute;</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>Mart&iacute;nez Gourmet</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>Rotiser&iacute;a disco</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>Chivitos lo de Pepe</li>
            <li class="item item-checkbox"><label class="checkbox"><input type="checkbox"></label>La Pasiva</li>
        </ul>
    </ion-content>
    <ion-footer-bar class="popoverFooter">
        <button class="button button-stable" >Filtrar</button>
    </ion-footer-bar>
</ion-popover-view>