<ion-view title="Todos los locales">
    <ion-content class="has-header" has-bouncing="true">
        <ion-refresher
                pulling-text="Desliza hacia abajo para refrescar.."
                on-refresh="refreshRestaurants()">
        </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item collection-repeat="store in stores" class="item item-text-wrap item-avatar restaurant-list" href="#/tab/stores/restaurant/{{store.id}}"
                      item-height="95px">
                <img src="data:image/{{store.logoExtension}};base64,{{store.logoBase64}}" />
                <div class="row">
                    <div class="col">
                        {{store.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            {{store.tagsString}}
                        </p>
                    </div>
                </div>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>





        <!--<a class="item item-avatar" href="#/tab/store/{{store.id}}/{{store.distanceTo}}" ng-repeat="store in stores">-->
            <!--<img  src="img/{{store.icon}}.png">-->
            <!--<h2>{{store.name}}</h2>-->
            <!--<h4>Platos diarios, tartas, empanadas</h4>-->
            <!--<h4 ng-if="!store.distanceTo">&nbsp;</h4>-->
            <!--<h4 ng-if="store.distanceTo">{{store.distanceTo | distance}}</h4>-->
        <!--</a>-->
    </ion-content>
</ion-view>
